body {
    margin: 0px;
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.navbar {
    background-color: #0d47a1;
}

.navbar-brand {
    color: white;
}

.nav a {
    text-align: center;
    margin-right: 5rem;
    font-size: 20px;
    color: white;
}

.nav-link:hover, .nav-link:focus {
    color: #002171;
}

/* Icon style */
.hamburger {
    font-size: 30px;
    color: #fff;
}

/* Skip Link */
#skip a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip a:focus, #skip a:active {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    color: white;
    border: none;
}

.parallax-section {
    background-image: url('../img/coronavirus.png');
    min-height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.parallax-section > h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    color: white;
    background-color: #0d47a1;
    border-radius: 7px;
}

.parallax-section > h2 {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 40%;
    margin-right: -50%;
    transform: translate(0, -50%);
    color: white;
    background-color: #0d47a1;
    border-radius: 7px;
}

h1 {
    font-weight: 900;
    margin-top: 5rem;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
    margin: 20px auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.card {
    flex: 1 0 250px;
    background-color: #eee;
    margin: .5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);   
}

.card h2, .card p {
    margin: 5px;
    text-align: center;
}

.card a {
    border: none;
    background-color: #0d47a1;
    border-radius: 0 0 10px 10px;
}

.card a {
    color: white;
}

.card a:hover, .card a:focus {
    background-color: #5472d3;
}

.card img {
    width: 11em;
    height: 12em;

}

#timeline ul {
    background-color: #eee;
}

cite a, footer a{
    color: black;
}

footer {
    position: absolute;
    border-radius: 4px;
    background-color: #eee;
}

.map {
    width: 100vw;
    height: 100vh;
}

.caseButton {
    font-size: 30px;
    margin-bottom: 1em;
    color: white;
    background-color: #0d47a1;
    border: 0px solid white;
    border-radius: 5px;
}

.caseButton:hover, .caseButton:focus {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

#case-count h2 {
    font-weight: 800;
    margin-bottom: 10px;
}