body {
    margin: 8px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.navbar {
    background-color: #0d47a1;
}

.navbar-brand {
    color: white;
}

.nav a {
    text-align: center;
    margin-right: 5rem;
    font-size: 20px;
    color: white;
}

.nav-link:hover, .nav-link:focus, .navbar-brand:hover, .navbar-brand:focus {
    color: black;
}

/* Icon style */
.hamburger {
    font-size: 30px;
    color: #fff;
}

/* Skip Link */
#skip a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip a:focus, #skip a:active {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    color: white;
    border: none;
}

.super-container {
    flex-direction: column;
}

h1 {
    font-weight: 900;
    margin-top: 5rem;
}

img {
    width: 400px;
    height: 400px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}