body {
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #0d47a1;
}

.nav-link {
    display: inline;
    margin-right: 2rem;
    font-size: 20px;
    color: white;
}

ul a:hover {
    padding: 1.2rem;
    background-color: #69b6ff;
    border-bottom: yellow solid 5px;
}

h1 {
    margin-top: 5rem;
}

/* So the images look reasonable */
img {
    width: 300px;
    height: 300px;
}